<a href="https://colab.research.google.com/github/Luis-Idalgo/santander-dev-week-2023-api/blob/main/Pipeline_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import requests
import pandas as pd
#from sqlalchemy import create_engine
from google.colab import data_table

Total Number of universities from API: 2269
Number of universities in california 42

In [17]:
def extract()-> dict:
    """ This API extracts data from
    http://universities.hipolabs.com
    """
    API_URL = "http://universities.hipolabs.com/search?country=United+States"
    data = requests.get(API_URL).json()
    return data

In [90]:
def transform(data:dict) -> pd.DataFrame:
    """ Transforms the dataset into desired structure and filters"""
    df = pd.DataFrame(data)
    print(f"Total Number of universities from API {len(data)}")
    print("\n")
    total_Universities_per_State = df.groupby('state-province')['state-province'].count()
    print(f"Univesities per State Province \n {total_Universities_per_State}")
    print("\n")
    df = df[df["name"].str.contains("California")]
    print(f"Number of universities Named with california {len(df)}")
    print("\n")
    df['domains'] = [','.join(map(str, l)) for l in df['domains']]
    df['web_pages'] = [','.join(map(str, l)) for l in df['web_pages']]
    df = df.reset_index(drop=True)
    return df[["domains","country","web_pages","name"]]

In [49]:
def load(df:pd.DataFrame)-> None:
    """ Loads data into a sqllite database"""

    disk_engine = create_engine('sqlite:///my_lite_store.db')
    df.to_sql('cal_uni', disk_engine, if_exists='replace')

In [92]:

data = extract()
df = transform(data)
load(df)

Total Number of universities from API 2269


Univesities per State Province
 state-province
CA                 2
California         5
Colorado           1
Florida            1
GA                 2
IN                 1
Illinois           1
Indiana            1
Iowa               1
MI                 1
Maine              1
Michigan           1
Missouri           1
ND                 1
NV                 1
NY                 9
New Hampshire      1
New York           1
New York, NY       4
North Carolina     2
Ohio               2
Pennsylvania      31
South Carolina     1
TX                 2
Texas              4
Utah               1
VA                 1
Virginia           1
Washington         2
Name: state-province, dtype: int64


Number of universities Named with california 42